<div class="bi-container">
    <iframe
      class="bi-frame"
      title="Tenant Listings"
      src="https://app.powerbi.com/reportEmbed?reportId=0b08019a-4ebd-46f3-9e21-6fe0e9f5db7b&autoAuth=true&ctid=88a27036-d5e4-4ec9-83c2-ef235461ce3d"
      ></iframe>
    </div>
    <!-- src="https://app.powerbi.com/reportEmbed?reportId=787df3fa-49f0-43e1-8dc5-d339c8aef5cb&autoAuth=true&ctid=88a27036-d5e4-4ec9-83c2-ef235461ce3d&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXdlc3QtdXMtcmVkaXJlY3QuYW5hbHlzaXMud2luZG93cy5uZXQvIn0%3D" -->