<div class="bi-container">
    <iframe
      class="bi-frame"
      title="Building Listings"
      src="https://app.powerbi.com/reportEmbed?reportId=03777305-ed0f-44fc-8066-dd8b7cb2eafe&autoAuth=true&ctid=88a27036-d5e4-4ec9-83c2-ef235461ce3d"
      ></iframe>
    </div>
    <!-- src="https://app.powerbi.com/reportEmbed?reportId=27a8cca7-14f9-4d49-8aa3-111ab7726fd0&autoAuth=true&ctid=88a27036-d5e4-4ec9-83c2-ef235461ce3d&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXdlc3QtdXMtcmVkaXJlY3QuYW5hbHlzaXMud2luZG93cy5uZXQvIn0%3D" -->