<div class="bi-container">
    <iframe
      class="bi-frame"
      title="Tenant Portfolio"
      src="https://app.powerbi.com/reportEmbed?reportId=d62e2c86-a331-45dc-b5fd-f4ce99300b00&autoAuth=true&ctid=88a27036-d5e4-4ec9-83c2-ef235461ce3d"
      ></iframe>
    </div>
    <!-- https://app.powerbi.com/reportEmbed?reportId=4870b4b2-6763-4015-a085-f62c4f13e2b5&autoAuth=true&ctid=88a27036-d5e4-4ec9-83c2-ef235461ce3d&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXdlc3QtdXMtcmVkaXJlY3QuYW5hbHlzaXMud2luZG93cy5uZXQvIn0%3D" -->