<div class="bi-container">
  <iframe class="bi-frame" [title]="Title" [src]="Src"></iframe>
</div>
<!-- Card package -->
<!-- src="https://app.powerbi.com/reportEmbed?reportId=2174ad19-23aa-4a27-a939-9b00e88d5b52&autoAuth=true&ctid=88a27036-d5e4-4ec9-83c2-ef235461ce3d&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXdlc3QtdXMtcmVkaXJlY3QuYW5hbHlzaXMud2luZG93cy5uZXQvIn0%3D" -->
<!-- <div class="bi-container">
  <iframe
    class="bi-frame"
    title="OPS BI"
    src="https://app.powerbi.com/reportEmbed?reportId=bb0d7f4b-07ad-4d74-8c4b-e3ca05e50d68&autoAuth=true&ctid=88a27036-d5e4-4ec9-83c2-ef235461ce3d"
  ></iframe>
</div>  -->
<!-- Card package -->