 .Export .btn .fas {
     font-size: 14px !important;
     color: #506a93 !important;
 }

// .mdb-icon{
//     color: #506a93 !important;

// }

.stickyMenuTop .btn .fas {
    font-size: 14px !important;
    color: #506a93 !important;
}

i{
    color: #506a93 !important;
}