
.shadow-Icon-Color {
    color: #506a93 !important;
}

.modal-dialog.modal-notify.modal-info .modal-header {
    background-color:  #506a93 !important;
}

.btn-outline-info {
    border: 2px solid #506a93!important;
    background-color: transparent!important;
    color: #506a93!important;
}

.divider{
    background-color:  #e7cfcf ;
}

.cell{
    color: red;
}

.mat-row, .mat-footer-row {
    min-height: 15px !important;
}